<section id="info" class="info">
  <div class="content">
    <div class="content-container">
      <h2>About me</h2>
      <div class="info__content">
        <div class="info__text">
          <p class="justify">
            I am a Frontend Developer with a passion for crafting beautiful and user-friendly web experiences. My coding
            journey
            has led me to become proficient in JavaScript, TypeScript, HTML, and CSS. I love bringing designs to life
            using
            frontend frameworks and diffent other tools, and I enjoy making websites look great on both desktop and
            mobile
            devices.
          </p>
          <p class="justify">
            I've had some awesome experiences, including not only working on landing pages, improving app usability with
            HTML
            and CSS, but also crafting frontend part of the projects from scratch, architecting them to perfection.
          </p>
          <p class="justify">
            I'm not just a lone coder; I thrive in collaboration. I've had
            the privilege of working with fantastic Agile teams, ensuring seamless and continuous development processes.
          </p>
          <div style="display: flex; justify-content: space-between;">
            <p style="display: inline-block;">Beyond coding, I enjoy travelling, hiking, and joga.</p>
            <button class="primary">Resume</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>