.nav-item {
  padding: 1rem;
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 21px;
  letter-spacing: 0.05em;
  background-color: transparent;
  border: none;
  transition: all .5s ease;
  cursor: pointer;

  &:hover {
    color: #3765DE !important;
    background-color: transparent;
    border: none;
    transform: scale(1.2);
  }
}

.hamburger {
  display: block;
}

@media (min-width: 800px) {
  .hamburger {
    display: none;
  }
}

@media (max-width: 800px) {
  .navbar {
    display: none;
  }
}

::ng-deep .mat-mdc-menu-panel {
  display: grid;
  justify-content: center;
  align-items: center;
  background: linear-gradient(208deg,
      rgba(164, 0, 255, 0.9) 20.1%,
      rgba(158, 86, 198, 0) 128.93%), rgba(1, 126, 255, 0.8);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw !important;
  max-width: 100vw !important;
  height: 60vh;
  z-index: -1;
}

.logo {
  position: absolute;
  top: 15px;
  left: 20px;
}

.close {
  position: absolute;
  top: 25px;
  right: 20px;
  color: white;
}