<nav class="navbar">
  <button [ngStyle]="{'color': color}" class="nav-item" (click)="redirectTo('skills')">Skills</button>
  <button [ngStyle]="{'color': color}" class="nav-item" (click)="redirectTo('info')">About me</button>
  <button [ngStyle]="{'color': color}" class="nav-item" (click)="redirectTo('projects')">Projects</button>
  <button [ngStyle]="{'color': color}" class="nav-item" (click)="redirectTo('contacts')">Contacts</button>
</nav>

<button mat-icon-button [matMenuTriggerFor]="menu" class="hamburger" [ngStyle]="{'color': burgerColor}">
  <mat-icon>menu</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <app-logo [color]="logoColor" class="logo"></app-logo>
  <mat-icon [color]="logoColor" class="close">close</mat-icon>
  <button mat-menu-item [ngStyle]="{'color': color}" class="nav-item" (click)="redirectTo('skills')">Skills</button>
  <button mat-menu-item [ngStyle]="{'color': color}" class="nav-item" (click)="redirectTo('info')">About me</button>
  <button mat-menu-item [ngStyle]="{'color': color}" class="nav-item" (click)="redirectTo('projects')">Projects</button>
  <button mat-menu-item [ngStyle]="{'color': color}" class="nav-item" (click)="redirectTo('contacts')">Contacts</button>
</mat-menu>