.nav-item {
  font-weight: 700;
  font-size: 1.1rem;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: white;
  background: transparent;
  transition: all .5s ease;

  &:hover {
    color: #3765DE;
    transform: scale(1.2);
  }
}
