/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
}

body {
  margin: 0;
  color: rgba(0, 0, 0, 0.80);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.7px;
}

h1 {
  font-family: 'Rosario', sans-serif;
  font-size: 35px;
  font-weight: 700;
  letter-spacing: 1.75px;
}

h2 {
  color: #303033;
  text-align: center;
  font-family: 'Rosario', sans-serif;
  font-size: 30px;
  font-weight: 400;
  letter-spacing: 1.5px;
}

p {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.content {
  width: 80%;
  margin: 0 auto;
}

.content__container {
  padding-top: 100px;
  padding-bottom: 100px;
}

.scrollbar {
  margin-left: 22px;
  float: left;
  height: 300px;
  width: 65px;
  background: transparent;
  overflow-y: scroll;
  margin-bottom: 25px;
}

body::-webkit-scrollbar {
  width: 10px;
  background-color: transparent;
}


body::-webkit-scrollbar-track {
  background: #d7dbf0;
  border: 1px solid #d3d8f3;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #8749AD;
  border: 1px solid #8749add8;
}

body::-webkit-scrollbar-thumb:hover {
  background: #a39298;
}

body::-webkit-scrollbar-thumb:active {
  background: linear-gradient(to left, #7d9edb, #1e98baf6);
}
