<section id="projects" class="works">
  <div class="content">
    <div class="content__container">
      <h2>Projects</h2>
      <div class="projects__filters">
        <mat-chip-listbox aria-label="Filters" multiple>
          <mat-chip-option (click)="onClick()">HTML5/CSS3</mat-chip-option>
          <mat-chip-option (click)="onClick()">Typescript</mat-chip-option>
          <mat-chip-option (click)="onClick()">Angular 2+</mat-chip-option>
          <mat-chip-option (click)="onClick()">React 18</mat-chip-option>
          <mat-chip-option (click)="onClick()">Figma</mat-chip-option>
        </mat-chip-listbox>
      </div>
      <app-projects-list></app-projects-list>
    </div>
  </div>
</section>
