.project {
  flex-grow: 1;
  background-color: #F2F2FF;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.content__container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.project__wrapper {
  max-width: 50%;
  margin: 0 auto;
}

.card-content {
  margin-bottom: 1.5rem;
}