<section class="project">
  <div class="content">
    <div class="content__container">
      <mat-card class="project__wrapper">
        <mat-card-header>
          <mat-card-title>Project Title</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/project management.png" alt="Project Image">
        <mat-card-content>
          <p><b>Description</b></p>
          <p>An agile project management tool designed to help visualize work, limit work-in-progress, and maximize efficiency (or flow).
            Based on Kanban boards visualization.</p>
          <p><b>Deploy</b><a href="https://rs-project-management-app-team111.netlify.app/home"> Link</a></p>
          <p><b>Team</b> 3 developers under mentor's supervision</p>
          <div>
            <b>Technologies</b>
            <div>
              <b>Core</b>
              <ul>
                <li>Angular</li>
                <li>TypeScript</li>
                <li>RxJS</li>
                <li>NgRx</li>
                <li>ESLint</li>
              </ul>
              <b>Styling</b>
              <ul>
                <li>Angular Material</li>
              </ul>
              <b>Plugins</b>
              <ul>
                <li>ng-http-loader</li>
                <li>swiper</li>
              </ul>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</section>
